/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.icon-input-suggest-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.soundboard-settings-group {
  margin-bottom: 30px;

  &.track-search {
    margin-bottom: 0;

    .setting-items {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.tracks .setting-items {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.soundboard-settings-sections,
.soundboard-settings-tracks {
  padding-left: 6em;
}

.flex { display: flex; }
.gap-10 { gap: 10px; }
.ai-center { align-items: center; }
.jc-center { justify-content: center; }
.jc-between { justify-content: space-between; }
.jc-around { justify-content: space-around; }
