/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.icon-input-suggest-item {
  display: flex;
  align-items: flex-start;
  gap: var(--size-4-2);
}

.soundboard-settings-group {
  margin-bottom: var(--size-4-8);

  &.track-search {
    margin-bottom: 0;

    .setting-items {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.tracks .setting-items {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.soundboard-section-setting-item {
  .setting-item-info { display: none; }
}

.mr-auto { margin-right: auto; }
.flex { display: flex; }
.gap-8 { gap: var(--size-4-2); }
.ai-center { align-items: center; }
.jc-center { justify-content: center; }
.jc-between { justify-content: space-between; }
.jc-around { justify-content: space-around; }
