/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.soundboard-settings-sections,
.soundboard-settings-tracks {
  padding-left: 6em;
}

.flex { display: flex; }
.flex-center { align-items: center; justify-content: center; }
.flex-sp-between { justify-content: space-between; }
.flex-sp-around { justify-content: space-around; }
